.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  padding: 40px;
  margin: 0 auto;
  width: 600px;
}

.about-founder {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 80%;
  background-color: #d9d9d9;
  padding: 20px;
}

.bear-image {
  width: 250px;
  margin-right: 30px;
}

.founder-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-community {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background-color: #d9d9d9;
  padding: 20px;
}

.community-image {
  width: 350px;
  margin-left: 10px;
  border: 10px solid #ffc0cb;
  align-items: center;
}

.about-community h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-community p {
  margin-bottom: 10px;
  align-items: center;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 1.6;
}
