.centerContent {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.centerContent p {
  font-size: 25px;
  color: #32ff32;
  margin-bottom: 20px;
}

.centerContent img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.centerContent a {
  font-size: 25px;
  color: #32ff32;
  text-decoration: underline;
}
