@mixin sairaFont($size) {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: $size;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@mixin topLink {
  text-decoration: none;
  color: white;
}

.calibriFont {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: absolute;
  width: 100%;
  height: 56px;
  left: 0px;
  top: 0px;
  background: #000000;
  color: white;
}

.footer {
  position: absolute;
  width: 100%;
  height: 47px;
  left: 0px;
  bottom: 0px;
  background: #000000;
  color: white;
}
#allRights {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 15px;
}

#paw {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 32px;
  top: 14px;
  color: #ffc0cb;
  background-image: url("../assets/svg/paw-solid.svg");
  background-size: 100%;
}

#aboutUs {
  position: absolute;
  width: 80px;
  height: 46px;
  right: 300px;
  top: 20px;
  @include sairaFont(18px);
  @include topLink();
}

#menu {
  position: absolute;
  width: 52px;
  height: 20px;
  right: 232px;
  top: 20px;

  @include sairaFont(18px);
  @include topLink();
}

#careers {
  position: absolute;
  width: 70px;
  height: 46px;
  right: 150px;
  top: 20px;

  @include sairaFont(18px);
  @include topLink();
}

#buttonOrder {
  position: absolute;

  right: 20px;
  top: 15px;

  width: 120px;
  height: 30px;
  border-radius: 10px;
  background-color: #ffc0cb;
  text-align: center;
  display: inline-block;
  padding: 5px 0px 0px 0px;

  @include sairaFont(16px);
  @include topLink();
}

@mixin socialButton($url, $width) {
  background-image: url($url);
  position: absolute;
  height: 24px;
  width: $width;
  background-size: 100%;
  top: 10px;
}
#socialButtonsContainer {
  position: absolute;
  right: 20px;
}

#buttonFb {
  @include socialButton("../assets/svg/facebook.svg", 24px);
  right: 67px;
}

#buttonInsta {
  @include socialButton("../assets/svg/instagram.svg", 20px);
  right: 0px;
}

#buttonLinked {
  @include socialButton("../assets/svg/linkedin.svg", 20px);
  right: 34px;
}
